html
    head
        title Home Page
        style
            include page.css
body
    include ./headers
    div#main
        h1 Welcome To Articon
        p An art sharing platform connecting artists from all over the world
        p Created by Daniel Samchenko
